:root {
    --bg: #2a2a2a;
    --bg-dot: #555555;
    --sidebar-bg: #1a1a1a;
    --sidebar-border: #555555;
    --accent: #4A9EFF;
    --note-yellow: #fff9c4;
    --note-blue: #e3f2fd;

    --binder-holes-width: 2.5em;
    --binder-hole-radius: .5em;
    --page-bg: url(/res/paper.png);
    --page-aspect: 4/5;
    --title-page-bg: #333333;
    
    --page-fade-distance: 30px;
    --page-fade-speed: .4s;
    --page-fade-angle: 1deg;
    
    --padding: 2em;
    --monospace: 'IBM Plex Mono', monospace;

    color-scheme: dark;
}

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'IBM Plex Sans', -apple-system, sans-serif; */
    line-height: 1.3em;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: var(--bg);
    gap: var(--padding);

    background-image: radial-gradient(var(--bg-dot) 1px, var(--bg) 0);
    background-size: 2em 2em;
    animation: bg-dots 3s infinite linear;
    overflow: hidden;
}

@keyframes bg-dots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 2em;
    }
}

aside {
    flex-shrink: 0;
    width: 18em;
    box-sizing: border-box;
    background: var(--sidebar-bg);
    margin: var(--padding);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

main {
    flex-grow: 1;
    padding: var(--padding);
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: var(--padding) calc(var(--padding) / 2);
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* sitename */
nav a h1 {
    font-size: .8rem;
    margin: 0;
}
nav a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px calc(var(--padding) / 2);
    color: rgba(255, 255, 255, .5);
    transition: border-color .2s;
    cursor: default;
    border-left: 2px solid transparent;
}
nav a:hover {
    background: var(--bg);
    color: white;
}
nav a.selected {
    background: var(--bg);
    color: var(--accent);
    border-left: 2px solid var(--accent);
}

nav ol {
    list-style-type: none;
}
nav ol {
    padding-left: 0;
}
nav > ol > li, nav > ol > li > ol > li {
    padding-left: 0;
}

nav > ol > li > ol h1 {
    text-transform: none;
    font-size: 1rem;
}

nav > ol > li {
    /* margin-bottom: 1.5em; */
    margin-bottom: 1em;
}
/* subsection headers */
nav > ol > li > ol h1 {
    font-weight: normal;
}

.book-page {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: var(--page-aspect);

    color-scheme: light;
    color: rgba(0, 0, 0, .8);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
    counter-reset: section-count;
}

.page {
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-left: calc(var(--binder-holes-width) + var(--padding));
    padding-bottom: calc(var(--padding) * 2);
    box-sizing: border-box;
    position: relative;

    mask-image: 
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 10%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 35%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 50%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 65%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 90%, transparent var(--binder-hole-radius), black var(--binder-hole-radius));
    mask-composite: intersect;
}
.page::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--page-bg);
    background-size: cover;
    mix-blend-mode: multiply;
    filter: brightness(1.15);
    z-index: 1;
    pointer-events: none;
}
.page::after {
    content: "";
    width: var(--binder-holes-width);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--accent);
    mix-blend-mode: multiply;
    pointer-events: none;
}
.page footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-family: var(--monospace);
    font-size: .8rem;
    opacity: .75;
    padding: var(--padding);
    box-sizing: border-box;
}

.page .background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}
.page:has(.background)::after {
    display: none;
}

.hidden {
    display: none;
}

.exit-to-bottom, .exit-to-top {
    position: absolute;
    top: 0;
    left: 0;
}
.exit-to-bottom {
    animation: exit-to-bottom var(--page-fade-speed);
    z-index: -1;
    filter: brightness(0.5);
}
.exit-to-top {
    animation: exit-to-top calc(var(--page-fade-speed) / 1.5);
    z-index: 2;
    opacity: 0;
}
.enter-from-bottom {
    animation: enter-from-bottom var(--page-fade-speed);
    z-index: 1;
}
.enter-from-top {
    animation: enter-from-top var(--page-fade-speed);
    z-index: 1;
}
@media (prefers-reduced-motion: reduce) {
    .exit-to-bottom, .exit-to-top, .enter-from-bottom, .enter-from-top {
        animation: none;
    }
}

@keyframes exit-to-top {
    0% {
        transform: none;
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: translateY(calc(-1 * var(--page-fade-distance))) rotate(calc(-1 * var(--page-fade-angle)));
        opacity: 0;
    }
}

@keyframes exit-to-bottom {
    0% {
        display: block;
        filter: brightness(1);
    }
    100% {
        display: block;
        filter: brightness(0.5);
    }
}
@keyframes enter-from-bottom {
    0% {
        filter: brightness(0.5);
    }
    50% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}
@keyframes enter-from-top {
    0% {
        transform: translateY(calc(-1 * var(--page-fade-distance))) rotate(calc(-1 * var(--page-fade-angle)));
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

pre {
    white-space: pre-wrap;
}

#sidebar-toggle {
    display: none;
}

@media (max-width: 950px) {
    main {
        padding: var(--padding);
    }
    .book-page {
        font-size: clamp(.7rem, 3vw, 1rem);
        width: 100%;
        max-width: 600px;
        height: unset;
        flex-grow: unset;
    }
    aside {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        margin: 0;
        z-index: 1;
        height: 100%;
        border-top: none;
        border-bottom: none;
        border-left: none;
        box-shadow: none;
        transition: transform .5s ease-in-out, box-shadow .5s;
        width: min(75vw, 400px);
        z-index: 2;
    }
    aside.toggled {
        transform: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        z-index: 2;
    }
    #sidebar-toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: calc(var(--padding) / 1.2);
        height: calc(var(--padding) * 4);
        margin-top: 1em;
        border: none;
        border-top-right-radius: var(--padding);
        border-bottom-right-radius: var(--padding);
        cursor: pointer;
        background-color: var(--accent);
        transition: background-color .2s;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .15);
    }
    #sidebar-toggle:hover {
        background-color: #66B3FF;
    }
}

/* page components */

.page.section-title {
    counter-increment: section-count;
}
.page.section-title,
.page[data-page="1"] {
    padding-top: calc(var(--padding) * 4);
}
.page.section-title footer,
.page[data-page="1"] footer {
    bottom: calc(var(--padding) * 4);
}
.page.section-title::after {
    background: none;
}
.page.section-title h1 {
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 1.5em;
}
.page.section-title h1::before {
    content: "SECTION " counter(section-count);
    display: block;
    font-size: 1.2rem;
    color: var(--accent);
    margin-bottom: 1em;
}
.page.section-title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, var(--accent) -10%, transparent var(--binder-holes-width), transparent calc(100% - var(--padding)), var(--accent) 110%); */
    background: 
        linear-gradient(to top, var(--accent) -100%, transparent 30%),
        radial-gradient(circle at 200% 200%, var(--accent) 0%, transparent 70%),
        radial-gradient(circle at 10% -20%, var(--accent) -10%, transparent 30%);
    mask-image: url(/res/crosses.svg);
    mask-size: 40px 40px;
}
.page.section-title footer {
    display: none;
}

img {
    max-width: 100%;
}

hr {
    border: 1px solid var(--accent);
    border-bottom: 1px solid white;
}

.page > h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}

.page a {
    color: var(--accent);
    text-decoration: none;
}

.note, .note-blue {
    background: var(--note-yellow);
    padding: .5rem 2rem;
    margin: 24px 0;
    position: relative;
    transform: rotate(-0.5deg);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    font-size: .9rem;
    z-index: 2;
}
.note-blue {
    background: var(--note-blue);
    transform: rotate(0.5deg);
}
.note::before,
.note-blue::before {
    content: '';
    position: absolute;
    top: -.6rem;
    left: 1.2rem;
    width: 3.5rem;
    height: 1.2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(210, 210, 190, 0.5) 100%);
    transform: rotate(-3deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.note::after,
.note-blue::after {
    content: '';
    position: absolute;
    bottom: -.6rem;
    right: 1.2rem;
    width: 3.5rem;
    height: 1.2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(210, 210, 190, 0.5) 100%);
    transform: rotate(3deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.note-blue::before {
    left: unset;
    right: 1.2rem;
    transform: rotate(3deg);
}
.note-blue::after {
    right: unset;
    left: 1.2rem;
    transform: rotate(-3deg);
}

.note strong {
    color: #8b6914;
}

.page:has(.wip) footer {
    display: none;
}
.wip code {
    font-family: inherit;
    font-size: inherit;
    background: black;
}
.wip code::selection {
    color: white;
}