:root {
    --bg: #2a2a2a;
    --bg-dot: #555555;
    --sidebar-bg: #1a1a1a;
    --sidebar-border: #555555;
    --accent: #4A9EFF;
    --link: #3A8EEF;
    --note-yellow: #fff9c4;
    --note-blue: #e3f2fd;
    
    --padding-scale: 2;
    --binder-holes-width-scale: 2.5;
    --padding: calc(var(--padding-scale) * 1rem);
    --binder-hole-radius: .5em;
    --page-bg: rgb(235, 235, 235);
    --page-aspect: 4/5;
    --title-page-bg: #333333;
    
    --page-fade-distance: 30px;
    --page-fade-speed: .4s;
    --page-fade-angle: .5deg;
    
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --monospace: 'Courier', 'Courier Prime', 'Courier New', monospace;

    color-scheme: dark;
}

body, html {
    margin: 0;
    font-family: var(--body-font);
    overflow: hidden;
}

* {
    line-height: 1.2em;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background: var(--bg);
    gap: var(--padding);

    background-image: radial-gradient(var(--bg-dot) 1px, var(--bg) 0);
    background-size: 2em 2em;
    animation: bg-dots 3s infinite linear;
    overflow: hidden;
}

@keyframes bg-dots {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 2em;
    }
}

aside {
    flex-shrink: 0;
    width: 18em;
    box-sizing: border-box;
    background: var(--sidebar-bg);
    margin: var(--padding);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

main {
    flex-grow: 1;
    padding: var(--padding);
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: var(--padding) calc(var(--padding) / 2);
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* sitename */
nav a h1 {
    font-size: .8rem;
    margin: 0;
    position: relative;
    padding-left: 1rem;
}
nav img[src$='#icon'] {
    position: absolute;
    left: 0;
    top: 50%;
    translate: -50% -50%;
    height: 2em;
}
nav a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px calc(var(--padding) / 2);
    color: rgba(255, 255, 255, .5);
    transition: border-color .2s;
    cursor: default;
    border-left: 2px solid transparent;
}
nav a:hover {
    background: var(--bg);
    color: white;
}
nav a.selected {
    background: var(--bg);
    color: var(--accent);
    border-left: 2px solid var(--accent);
}

a.subtitle h1 {
    font-size: 1em;
}
a.subtitle, a.subtitle:hover {
    color: var(--accent);
}
a.subtitle:hover {
    background: unset;
}

nav ol {
    padding-left: 0;
}
/* sub-subsections */
nav > ol > li > ol > li > ol a {
    padding-left: 2em;
}
/* sub-sub-subsections */
nav > ol > li > ol > li > ol > li > ol a {
    padding-left: 4em;
}

nav ol {
    list-style-type: none;
}
nav > ol > li > ol h1 {
    text-transform: none;
    font-size: 1rem;
}
nav > ol > li {
    margin-bottom: 1em;
}
/* subsection headers */
nav > ol > li > ol h1 {
    font-weight: normal;
}

.book {
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: var(--page-aspect);

    color-scheme: light;
    color: rgba(0, 0, 0, .8);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
    counter-reset: section-count;

    font-size: 2vh;
    --font-size: 2vh;
    --padding: calc(var(--font-size) * var(--padding-scale));
    --binder-holes-width: calc(var(--font-size) * var(--binder-holes-width-scale));
}
@media (max-width: 630px) {
    .book {
        font-size: min(2vh, 2.5vw);
        --font-size: min(2vh, 2.5vw);
    }
}

.page {
    background: var(--page-bg);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-y: scroll;
    /* mask-image: 
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 10%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 35%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 50%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 65%, transparent var(--binder-hole-radius), black var(--binder-hole-radius)),
        radial-gradient(circle at calc(var(--binder-holes-width) / 2) 90%, transparent var(--binder-hole-radius), black var(--binder-hole-radius));
    mask-composite: intersect; */
}
.page-content {
    min-height: 100%;
    padding: var(--padding) calc(var(--padding) * 2);
    box-sizing: border-box;
    position: relative;
    padding-bottom: calc(var(--padding) * 1.5);
}
.page header, .page footer {
    font-family: var(--monospace);
    font-size: .9em;
}
.page footer {
    padding: var(--padding);
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    text-align: center;
}
.page header {
    text-transform: uppercase;
}
.page::after {
    content: "";
    width: 100%;
    height: 0;
    border-bottom: 1px dashed lightgray;
    position: absolute;
    top: 100%;
    left: 0;
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.exit-to-right, .exit-to-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.5);
}
.exit-to-right {
    animation: exit-to-right var(--page-fade-speed);
}
.exit-to-left {
    animation: exit-to-left calc(var(--page-fade-speed) / 1.5);
}
.enter-from-right {
    animation: enter-from-right var(--page-fade-speed);
    z-index: 1;
}
.enter-from-left {
    animation: enter-from-left var(--page-fade-speed);
    z-index: 1;
}
@keyframes exit-to-left {
    0% {
        display: block;
        filter: brightness(1);
    }
    100% {
        display: block;
        filter: brightness(0.5);
    }
}
@keyframes exit-to-right {
    0% {
        display: block;
        filter: brightness(1);
    }
    100% {
        display: block;
        filter: brightness(0.5);
    }
}
@keyframes enter-from-right {
    0% {
        transform: translateX(var(--page-fade-distance)) rotate(var(--page-fade-angle));
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
@keyframes enter-from-left {
    0% {
        transform: translateX(calc(-1 * var(--page-fade-distance))) rotate(calc(-1 * var(--page-fade-angle)));
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
@media (prefers-reduced-motion: reduce) {
    .exit-to-right, .exit-to-left, .enter-from-right, .enter-from-left {
        animation: none;
    }
}

#sidebar-toggle {
    display: none;
}

@media (max-width: 950px) {
    main {
        padding: 1em;
    }
    .book {
        width: 100%;
        max-width: 600px;
        height: unset;
        flex-grow: unset;
    }
    aside {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        margin: 0;
        z-index: 1;
        height: 100%;
        border-top: none;
        border-bottom: none;
        border-left: none;
        box-shadow: none;
        transition: transform .5s ease-in-out, box-shadow .5s;
        width: min(75vw, 400px);
        z-index: 2;
    }
    aside.toggled {
        transform: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        z-index: 2;
    }
    #sidebar-toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: calc(var(--padding) / 1.2);
        height: calc(var(--padding) * 4);
        margin-top: 1em;
        border: none;
        border-top-right-radius: var(--padding);
        border-bottom-right-radius: var(--padding);
        cursor: pointer;
        background-color: var(--accent);
        transition: background-color .2s;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .15);
    }
    #sidebar-toggle:hover {
        background-color: #66B3FF;
    }
}

img {
    max-width: 100%;
}

/* page components */

.page.removed {
    
}

.page.section-title {
    counter-increment: section-count;
}
.page.section-title h1:first-of-type {
    text-transform: uppercase;
    margin-bottom: 1em;
}
.page.section-title > img:first-child {
    vertical-align: baseline;
    position: absolute;
    top: 4.2em;
    right: calc(100% - var(--padding) * 1.5);
}
.page footer .pagination {
    width: 2ch;
    display: inline-block;
    min-height: 1em;
}
.page.section-title footer, .page.title footer, .page footer a {
    opacity: 0;
    transition: opacity 100ms;
}
.page.section-title footer, .page.title footer {
    color: rgba(0, 0, 0, .3);
}
.page footer:hover,
.page footer:hover a {
    opacity: 1 !important;
}
.page footer input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    outline: 1px solid transparent;
    transition: outline-color 200ms;
}
.page footer input:hover, .page footer input:focus {
    outline: 1px solid var(--accent);
}
.page footer input:focus {
    color: black;
}
.page footer input::-webkit-outer-spin-button,
.page footer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page footer input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

p:has(img[src$='#full-image']) {
    margin: 0 calc(-1 * var(--padding));
}
img[src$='#icon'] {
    height: 1em;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: .9em;
}
th {
    background-color: rgba(0, 0, 0, .1);
    font-weight: normal;
    text-transform: uppercase;
    font-size: .8em;
    font-family: var(--monospace);
    text-align: left;
}
td, th {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 5px .5em;
}
td:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, .3);
}

code {
    white-space: pre-wrap;
    font-family: var(--monospace);
    font-size: .9em;
}

.page a {
    color: var(--link);
    text-decoration: none;

    background: linear-gradient(currentColor 0 0);
    background-position: bottom left;
    background-size: var(--underline-width, 0%) 1px;
    background-repeat: no-repeat;
    transition: background-size 200ms;
}
.page a:hover {
    --underline-width: 100%;
}

.page a[data-pswp-src] {
    cursor: zoom-in;
    background: none;
}

.note-yellow, .note-blue {
    background: var(--note-yellow);
    padding: .5em 2em;
    margin: 24px 0;
    position: relative;
    transform: rotate(-0.5deg);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    font-size: .9em;
    z-index: 2;
    color: black;
}
.note-blue {
    background: var(--note-blue);
    transform: rotate(0.5deg);
}
.note-yellow::before,
.note-blue::before {
    content: '';
    position: absolute;
    top: -.6em;
    left: 1.2em;
    width: 3.5em;
    height: 1.2em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(210, 210, 190, 0.5) 100%);
    transform: rotate(-3deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.note-yellow::after,
.note-blue::after {
    content: '';
    position: absolute;
    bottom: -.6em;
    right: 1.2em;
    width: 3.5em;
    height: 1.2em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(210, 210, 190, 0.5) 100%);
    transform: rotate(3deg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.note-blue::before {
    left: unset;
    right: 1.2em;
    transform: rotate(3deg);
}
.note-blue::after {
    right: unset;
    left: 1.2em;
    transform: rotate(-3deg);
}

.censor code {
    font-family: inherit;
    font-size: inherit;
    background: black;
}
.censor code::selection {
    color: transparent;
}

.toc::before {
    content: "Table of Contents";
    text-transform: uppercase;
    font-size: .8em;
    position: absolute;
    top: -1.75em;
}
.toc {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    margin-top: 3em;
}
.toc li, .toc ul {
    position: relative;
    margin-top: 3px;
    padding-top: 3px;
}
.toc br {
    display: none;
}
.toc li::after {
    content: "Page " attr(data-page);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--bg);
    font-style: italic;
    font-size: .8em;
}
.toc li::before {
    content: url(/media/icons/ChevronRight.svg);
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    color: var(--bg);
    margin-right: .5em;
}