---
layout: base.html
---

<aside>
    <nav>
        {{ pages.nav }}
    </nav>
</aside>

<main>
    <div class="book-page">
        {{ content }}
    </div>

    <div class="pagination">
        {% if page.previous %}
            <button type="button" onclick="location.href={{ page.previous }}">&lt;&lt;</button>
            <button type="button" onclick="location.href={{ page.previous }}">&lt;</button>
        {% else %}
            <button type="button" disabled>&lt;&lt;</button>
            <button type="button" disabled>&lt;</button>
        {% endif %}
        Page <input type="number" value="1" max="999" min="0">/1
        <button type="button" disabled>&gt;</button>
        <button type="button" disabled>&gt;&gt;</button>
    </div>
</main>